fastapi==0.115.9
uvicorn==0.34.3
chromadb==1.0.13
langchain==0.3.26
langchain-ollama==0.3.3
langchain-community==0.3.26
python-multipart==0.0.20
sentence-transformers==4.1.0
huggingface-hub==0.33.0
pysqlite3-binary==0.5.4
loguru==0.7.2
pdf2image==1.17.0
PyPDF2==3.0.1
pytesseract==0.3.13
pytest==8.4.1
pytest-check==2.5.3